<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="80b678">  <td>20/01/28 23:25:45</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Activity_4.beforeMethod()[pri:0, instance:activities.Activity_4@73e9cf30]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1489743810</td>   <td></td> </tr>
<tr bgcolor="80b678">  <td>20/01/28 23:25:46</td>   <td>1376</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Activity_4.Header2()[pri:0, instance:activities.Activity_4@73e9cf30]">Header2</td> 
  <td>main@1489743810</td>   <td></td> </tr>
<tr bgcolor="80b678">  <td>20/01/28 23:25:46</td>   <td>1488</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Activity_4.afterMethod()[pri:0, instance:activities.Activity_4@73e9cf30]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1489743810</td>   <td></td> </tr>
</table>
